In [4]:
#Import Libaries Data Frame
import pandas as pd
import seaborn as sb

data=pd.read_excel("data/Unemployment.xls", header=7)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3275 entries, 0 to 3274
Data columns (total 56 columns):
FIPS                                         3275 non-null int64
State                                        3275 non-null object
Area_name                                    3275 non-null object
Rural_urban_continuum_code_2013              3219 non-null float64
Urban_influence_code_2013                    3219 non-null float64
Metro_2013                                   3222 non-null float64
Civilian_labor_force_2007                    3270 non-null float64
Employed_2007                                3270 non-null float64
Unemployed_2007                              3270 non-null float64
Unemployment_rate_2007                       3270 non-null float64
Civilian_labor_force_2008                    3270 non-null float64
Employed_2008                                3270 non-null float64
Unemployed_2008                              3270 non-null float64
Unemployment_rate_2008                       3270 non-null float64
Civilian_labor_force_2009                    3270 non-null float64
Employed_2009                                3270 non-null float64
Unemployed_2009                              3270 non-null float64
Unemployment_rate_2009                       3270 non-null float64
Civilian_labor_force_2010                    3272 non-null float64
Employed_2010                                3272 non-null float64
Unemployed_2010                              3272 non-null float64
Unemployment_rate_2010                       3272 non-null float64
Civilian_labor_force_2011                    3272 non-null float64
Employed_2011                                3272 non-null float64
Unemployed_2011                              3272 non-null float64
Unemployment_rate_2011                       3272 non-null float64
Civilian_labor_force_2012                    3272 non-null float64
Employed_2012                                3272 non-null float64
Unemployed_2012                              3272 non-null float64
Unemployment_rate_2012                       3272 non-null float64
Civilian_labor_force_2013                    3272 non-null float64
Employed_2013                                3272 non-null float64
Unemployed_2013                              3272 non-null float64
Unemployment_rate_2013                       3272 non-null float64
Civilian_labor_force_2014                    3272 non-null float64
Employed_2014                                3272 non-null float64
Unemployed_2014                              3272 non-null float64
Unemployment_rate_2014                       3272 non-null float64
Civilian_labor_force_2015                    3272 non-null float64
Employed_2015                                3272 non-null float64
Unemployed_2015                              3272 non-null float64
Unemployment_rate_2015                       3272 non-null float64
Civilian_labor_force_2016                    3272 non-null float64
Employed_2016                                3272 non-null float64
Unemployed_2016                              3272 non-null float64
Unemployment_rate_2016                       3272 non-null float64
Civilian_labor_force_2017                    3272 non-null float64
Employed_2017                                3272 non-null float64
Unemployed_2017                              3272 non-null float64
Unemployment_rate_2017                       3272 non-null float64
Civilian_labor_force_2018                    3272 non-null float64
Employed_2018                                3272 non-null float64
Unemployed_2018                              3272 non-null float64
Unemployment_rate_2018                       3272 non-null float64
Median_Household_Income_2017                 3193 non-null float64
Med_HH_Income_Percent_of_State_Total_2017    3192 non-null float64
dtypes: float64(53), int64(1), object(2)
memory usage: 1.4+ MB

In [1]:
unemp_rate_20181 = data.Unemployment_rate_2018
unemp_rate_20182 = unemp_rate_20181.dropna()
sb.distplot(unemp_rate_20182)

NameError: name 'data' is not defined